In [33]:
import pandas as pd

In [34]:
noteData = pd.read_csv('EbayPcLaptopsAndNetbooksUnclean.csv')
cleanNoteData = pd.read_csv('EbayPcLaptopsAndNetbooksClean.csv')

In [35]:

noteData.drop_duplicates(inplace = True)

In [36]:
noteData.drop(columns = ['Rating', 'Ratings Count'], inplace = True)

In [37]:
noteData['Brand'] = noteData['Brand'].str.lower()

In [38]:
noteData['Price'] = noteData['Price'].str.split(' to ').str[0].str.strip().str.strip('$')

In [39]:
noteData['Price']

0       303.68
1       399.99
2       175.00
3        84.99
4       101.22
         ...
6600     93.26
6601    424.83
6611    385.23
6612     90.92
6618    567.74
Name: Price, Length: 4475, dtype: object

In [40]:
noteData['Price'].str.split(' to ').str[0].str.strip().str.strip('$')

0       303.68
1       399.99
2       175.00
3        84.99
4       101.22
         ...
6600     93.26
6601    424.83
6611    385.23
6612     90.92
6618    567.74
Name: Price, Length: 4475, dtype: object

In [41]:
noteData['Condition'].str.split(':').str[1]

0        A brand-new, unused, unopened, undamaged item...
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
6600     A brand-new, unused, unopened, undamaged item...
6601     An item that has been used previously. The it...
6611     A brand-new, unused, unopened, undamaged item...
6612     A brand-new, unused, unopened, undamaged item...
6618                                                  NaN
Name: Condition, Length: 4475, dtype: object

In [42]:
noteData['Condition Description'] = noteData['Condition'].str.split(':').str[1]
noteData['Condition'] = noteData['Condition'].str.split(':').str[0]

In [43]:
noteData[['Condition','Condition Description']]

,Condition,Condition Description
0,New,"A brand-new, unused, unopened, undamaged item..."
1,Very Good - RefurbishedThe item shows minimal ...,NaN
2,UsedAn item that has been used previously. The...,NaN
3,Good - RefurbishedThe item shows moderate wear...,NaN
4,Good - RefurbishedThe item shows moderate wear...,NaN
...,...,...
6600,New,"A brand-new, unused, unopened, undamaged item..."
6601,Used,An item that has been used previously. The it...
6611,New,"A brand-new, unused, unopened, undamaged item..."
6612,New,"A brand-new, unused, unopened, undamaged item..."
6618,NaN,NaN